.iframe-container{
    position: relative;
    /* width: 100%; */
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container{
    position: absolute;
    top: 50px;
    left: 50px;
    /* width: 100%;
    height: 100%; */
  }

.btn a {
    background: aqua;
    position:absolute;
    color: #fff;
    top: 80%;
    left: 20%;
    font-size: 25px;
    padding: 20px 100px;
    text-align: center;
    height: auto;
    display:block;
    color: #fff;
}
.btn:hover {
    background: #DC6C11;
}
/* .beta {
  text-indent: 18px;
  position: absolute;
  color: orange;
  border: 3px solid orange;
  border-radius: 40%;
  width: 60px;
  bottom: 15%;
  left: 41%;
} */
img{
  position: absolute;
  left: 44%;
  bottom: 13%;
  width: 3%;
}